<div class="cards">
  <h3 class="card-headers">Login</h3>
  
  <form class="login-form">
  
    <label class="form-label" for="email-login">Username</label>
    <input class="form-input" type="text" id="email-login" />

    <label class="form-label" for="password-login">Password</label>
    <input class="form-input" type="password" id="password-login" />

    <button class="form-btn" type="submit">Login</button>
    <a class="login-link" href="/signup">Sign up</a>

</form>
</div>

<script src="/javascript/login.js"></script>